<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:switch="${jik}">
		<h3 th:case="null">전체 출력</h3>
		<h3 th:case="''">전체 출력</h3>
		<h3 th:case="*" th:text="|직급이 ${jik}인 직원 출력|"></h3>
	</div>
	<table border="1">
		<tr>
			<th>사번</th><th>직원명</th><th>성별</th><th>연봉</th>
		</tr>
		<th:block th:if="${datas.size > 0}">
			<tr th:each="data:${datas}">
				<td>[[${data.jikwonno}]]</td>
				<td>[[${data.jikwonname}]]</td>
				<td>[[${data.jikwongen}]]</td>
				<td>[[${data.jikwonpay}]]</td>
			</tr>
			<tr>
				<td colspan="4" th:text="|인원수: ${datas.size}|">123</td>
			</tr>
		</th:block>
	</table>
</body>
</html>