.App {
  text-align: center;
}

.card {
  width: 21rem;
  margin-top: 1rem;
  align-items: center;
}

.table {
  width: 20rem;
}

.list {
  margin-top: 1rem;
  width: 8rem;
}
.container {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  display: flex;
}
