<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    결과<br>
    <table>
        <tr>
            <th>사번</th><th>직원명</th><th>성별</th><th>연봉</th>
        </tr>
        <th:block th:if="${datas != null}">
            <tr th:each="data:${datas}">
                <td th:text="${data.jikwonno}"></td>
                <td th:text="${data.jikwonname}"></td>
                <td th:text="${data.jikwongen}"></td>
                <td th:text="${data.jikwonpay}"></td>
            </tr>
            <tr>
            	<td colspan="4" th:text="|건수 : ${datas.size}|"></td>
            </tr>
        </th:block>
    </table>
</body>
</html>