<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>직원과 고객 정보</h2>
	<a href="javascript:history.back()">이전</a>
	<table border="1">
		<tr>
			<th>사번</th>
			<th>직원명</th>
			<th>직급</th>
			<th>고객 정보</th>
		</tr>
		<th:block th:if="${glist != null && !glist.empty }">
			<tr th:each="l : ${glist}">
				<!-- 직원정보 -->
				<td>[[${l.jikwonno}]]</td>
				<td>[[${l.jikwonname}]]</td>
				<td>[[${l.buser.busername}]]</td>
				<!-- 각 직원 고객정보는 한 셀에 모두 출력 -->
				<td th:if="${l.gogekList != null && !l.gogekList.isEmpty()}">
					<th:block th:each="g : ${l.gogekList}">
						<span>
							[[${g.gogekname}]] - [[${g.gogektel}]] <br/>
						</span>
					</th:block>
				</td>
				<td th:unless="${l.gogekList != null && !l.gogekList.isEmpty()}">
				<span> 
					담당 고객 없음
				</span>
				</td>
			</tr>
		</th:block>
	</table>

</body>
</html>